<!DOCTYPE html>
<html lang="es">
<head>
	<title>Herramientas - Diccionario Dios</title>
	<%- include ('../partials/head.ejs') -%>


</head>
<%- include ('../partials/header.ejs') -%>
<body class="text-white">
	<br>

	<div class="wrapper">

		<div class="container">
			<p class="pt-2 d-flex">
				<label class="mr-2" for="buscarMatricula">Buscar por matricula</label>
				<input class="mx-2" type="number" style="width: 45vw" id="buscarMatricula">
				<button class="btn btn-primary ml-2 btn-sm" onclick="buscarPorMatricula()">Buscar</button>
			</p>
			<p class="d-flex justify-content-around">
				<a href="/duplicados" class="btn btn-primary text-white">Duplicados <span class="badge badge-light"><%=duplicados%></span></a>
				<a href="/porrevisar" class="ml-5 btn btn-primary text-white">Por revisar <span class="badge badge-light"><%=verificar%></span></a>
			</p>
			<p class="d-flex">
				<label for="esImagen" class="mr-2">Ingresa una imagen para comprobar</label>
				<input type="text" style="width: 45vw" id="esImagen">
				<button class="btn btn-primary btn-sm ml-2" onclick="comprobarImagen()">Verificar</button>
			</p>

			<div class="fixed-bottom p-5"><h3>¿Que hago si el enlace no es una imagen?</h3>
				<p>1. Da click derecho sobre la imagen y selecciona la opcion copiar direccion de la imagen.</p>
				<p>2. Verifica que la direccion url termine en un formato de imagen (.png, .jpg, .gif o .svg)</p>
				<a class="py-2" style="font-size: 2vw" href="mailto:al195352@alumnos.uacj.mx?Subject=duda%20herramientas">Enviar correo electronico</a5>
				</div>
		</div>
	</div>
</body>
</html>



<script type="text/javascript">
	if(!("<%=mensaje%>" == "")) {
		alert("<%=mensaje%>")
	}
	function comprobarImagen() {
		if(document.getElementById('esImagen').value == "") {
			alert('El campo esta vacio')
		}
		else {
			location.href = '/esImagen?url=' + document.getElementById('esImagen').value;
		}
	}

	function buscarPorMatricula() {
		if(document.getElementById('buscarMatricula').value == "") {

			alert('El campo esta vacio');
		}
		else {
			location.href = '/publicaciones?matricula=' + document.getElementById('buscarMatricula').value
		}
		
	}
</script>